{
  "database": {
      "dev": ,
      "url": "",
      "name": ""
  },
  "bot": {
      "token": "",
      "prefix": "",
      "starboard": ,
  },
  "guild": {
    "id": ,
    "roles": {
      "admin": ,
      "dev": # !REMOVE ME! Optional
    },
    "channels": {
      "welcome": ,
      "logs": ,
      "drops": ,
      "starboard": ,
    }
  },
  "xp": {
    "rewards": {
    }
  }
}
