{
    "database": {
        "dev": ,
        "url": "",
        "name": ""
    },
    "bot": {
        "token": "",
        "prefix": ""
    },
    "guild": {
      "id": ,
      "roles": {
        "admin":
      },
      "channels": {
        "welcome": ,
        "posts": ,
        "logs": ,
        "drops":
      }
    },
    "xp": {
      "rewards": {
      }
    }
  }